<% if current_user %>
<h1>Users</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Email</th>
        <th>Roles</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.email %></td>
            <td><%= user.roles.pluck(:name) %></td>
            <td><%= user.created_at %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <h1>Login to view contents</h1>
<% end %>

</div>