<div id="<%= dom_id section %>">
  <p>
    <strong>Name:</strong>
    <%= section.name %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= section.short_name %>
  </p>

  <p>
    <strong>State:</strong>
    <%= section.state %>
  </p>

</div>
